@import url(//fonts.googleapis.com/css?family=Open+Sans:400,700,600);

body {
  margin: 0;
  padding: 0;
  background-color: #F7F8F9;
  height: 100vh;
  font-family: 'Open Sans';
}

div.title {
  text-align: center;
  margin-top: 20px; 
}

table { border-collapse: collapse;  }




div.wrapper {
  width: 800px;
  margin-top:90px;
  position:absolute;
  left:50%;
  margin-left:-400px;

}

div.stats {
  display: inline-block;
  float:right;
  text-align: center;
  margin-right:50px;
  margin-top:70px;
  font-size: 1.3em;
}

td {
  font-size:1.4em;
}

div.container {
  display: inline-block;
  float:left;
  text-align: center;
}

img.centerfold {
border: 20px solid #1aaaf8;
width:350px;
}


b {
  color: #00cbca;
} 
