<html>
  <head>  
    <link rel='stylesheet' type='text/css' href="../static/style.css">
  </head>
  <body>
    <div class="title">
      <p1><img src="../static/dckr.png" width="100px">   
      <br>Pets as a Service
    </div>
    <div class="wrapper">

      <div class="container">
        <img src="{{url}}" class="centerfold"/>
      </div>
      <div class="stats">
        <p>Delivered to you by container </p>
        <p><b>{{hostname}}</b></p>
        <br><p><b>{{hit_string}}</b></p
      </div>

      version {{version}}</p>

    </div>

  </body>
</html>
