<html>
  <head>  
    <link rel='stylesheet' type='text/css' href="../static/style.css">
  </head>
  <body>
    <div class="title">
      <p1><img src="../static/dckr.png" width="100px">   
      <br>
      <h3>Pets as a Service</h3>
    </div>
    <div class="wrapper">

      <div class="container">
        <img src="{{url}}" class="centerfold"/>
      </div>
      <div class="stats">
        <p>Processed by container </p>
        <p><b>{{hostname}}</b></p>
        <p><b>{{hit_string}}</b></p>
        <p>version {{version}}</p>
      </div>

      

    </div>
  


  </body>
</html>
