<html>
  <head>  
    <link rel='stylesheet' type='text/css' href="../static/style.css">
  </head>
  <body>
    <div class="title">
      <p1><img src="../static/dckr.png" width="100px">   <br>for Pet Administrators</p1>
    </div>
    <div class="wrapper">

      <div class="container">
        <table style="height:300px;width:400px; border: 20px solid #1aaaf8;text-align:center; font-size:1.1em">
            <tr style="font-size:1.3em;">
                <td><b>Pet</b></td>
                <td><b>Hits</b></td>
            </tr>
            <tr style="border-top: 3px solid #1aaaf8; color:#1AAAF8">
                <td>Cats</td>
                <td>{{doghits}}</td>
            </tr>
            <tr style="color:#4A90E2;">
                <td>Dogs</td>
                <td>{{cathits}}</td>
            </tr>
        </table>
      </div>
      <div class="stats">
        <p>Delivered to you by container </p>
        <p><b>{{hostname}}</b></p>
      </div>

    </div>

  </body>
</html>
